@import url('http://fonts.cdnfonts.com/css/vni-thuphap');
.header{
    background: linear-gradient(105deg,#ffe001 65%,#e4e2a7 0%,transparent 100%);
}
.navbar-toggler{
    /* margin-top: -20px; */
    margin-left: 0;
}
.spagetti{
    width: 70%;
    margin-top: 100px;
}
.img-header{
    width: 5%;
}
.img-header.Leaf1top{
    position: absolute;
    top: 215px;
    left: 5%;
    transform: rotate(55deg);
}
.img-header.Pasta{
    position: absolute;
    top: 200px;
    left: 45%;
    transform: rotate(85deg);
}
.img-header.Tomato1{
    position: absolute;
    top: 650px;
    left: 45%;
}
.img-header.Leafbot{
    position: absolute;
    top: 630px;
    left: 85%;
}
.Spaghetti{
    width: 15%;
    position: absolute;
    left: -30px;
    top: 650px;
}
.food4you{
    margin-top: 20px;
    margin-left: 20px;
}
.logo{
    margin-left: 57px;
    margin-top: 42px;
}
.img-logo{
    width: 20%;
}
.logo-text{
    text-transform: uppercase;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    margin-top: -36px;
    margin-left: 50px;  
}
.line1,.line2,.line3{
	width: 23px;
	height: 3px;
	margin: 5px;
}
.menu-item{
    cursor: pointer;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}
.collapse ul{
    position: absolute;
    top: 80px;
}
.item{
    margin-left: 74%;
    position: absolute;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
}
.item-text{
    font-size: 15px;
    position: absolute;
    top: -80px;
    left: -35px;
}
.item-number{
    font-size: 25px;
    margin-top: -80px;
    margin-left: -40px;
}
.iphone{
    width: 25%;
    position: absolute;
    top: -83px;
    left: 120px;
}
.nav-item-right{
    margin-top: 16px;
}
.banner-text{
    text-align: center;
    margin-top: 85px;
    margin-bottom: 100px;
}
.banner-text1{
    font-size: 60px;
    font-weight: 700;
    font-family: "Freestyle Script";
}
.banner-text2{
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 100;
    font-family: "Imprint MT Shadow";
}
.banner-text3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    border-bottom: solid 1px #3a3a3a;
    margin: 0 80px;
    padding-bottom: 20px;
}
.banner-text4{
    font-family: "Imprint MT Shadow";
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
}
.banner-text-item{
    margin-left: -22%;
}
.banner-text5{
    position: absolute;
    margin-top: -50px;
    margin-left: 0%;
    font-size: 65px;
    font-family: "Imprint MT Shadow";
}
.banner-text6{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    border: solid 1px #000000;
    background-color: #ffe001;
    padding: 10px 30px;
}
.banner-text7{
    margin-top: -20px;
    font-family: "Imprint MT Shadow";
    font-size: 20px;
    text-transform: uppercase;
}
.choose-text{
    text-align: center;
    margin-top: 50px;
}
.choose-title{
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Imprint MT Shadow";
}
.choose-text-item{
    font-size: 20px;
}
.chooseimg{
    width: 280px;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 16px 15px #ccc;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}
.chooseimg.center{
    margin-top: 15px;
}
.choose{
    text-align: center;
    margin-top: 50px;
}
.choose-order-title{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
}
.background{
    margin-top: -360px;
    margin-bottom: 360px;
    height: 120px;
    background-color: #e8e6a9;
}
.button-order{
    background: #ffe001;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
}
.event{
    margin-top: 100px;
}
.event-item{
    text-align: center;
}
.event-title1{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
.event-title2{
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Imprint MT Shadow";
    margin-top: -20px;
}
.event-text{
    font-size: 20px;
}
#wrap{
    margin-top: 0;
    text-align: center;
}
#slider{
    width: 100%;
}
.slick-center {
	transform: scale(1.2);
    transition: all linear .5s;
    z-index: 2;
}
.slide-item{
    position: relative;
}
.slide-item img{
    width: 135%;
    margin-left: -16%;
}
.overlay{
    position: absolute;
    top: 18.5%;
    width: 100%;
    height: 61%;
    background:  rgba(0,0,0,0.64);
}
.slick-center .overlay{
    opacity: 0;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}
.slick-dots li {
    margin: 0 0.25rem;
}
.slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #d8d8d8 !important;
    text-indent: -9999px;
}
.slick-dots li.slick-active button {
    background-color: #fcde01 !important;
}
.event-bot{
    margin-top: 150px;
}
.imgbot1{
    width: 100%;
}
.imgbot2{
    width: 100%;
}
.imgbot3{
    width: 100%;
    margin-top: 30px;
}
.event-bot-text{
    position: absolute;
    text-transform: uppercase;
    color: #ffffff;
}
.event-bot-text.event1{
    font-size: 30px;
    font-weight: 500;
    top: 35px;
    left: 10%;
}
.event-bot-text.event2{
    font-size: 35px;
    font-weight: 700;
    width: 100px;
    top: 75px;
    left: 10%;
}
.event-bot-text.event3{
    font-size: 30px;
    font-weight: 500;
    top: 10px;
    left: 6%;
}
.event-bot-text.event4{
    font-size: 35px;
    font-weight: 700;
    top: 48px;
    left: 6%;
}
.event-bot-text.event5{
    font-size: 35px;
    font-weight: 700;
    top: 90px;
    left: 6%;
}
.event-bot-text.event6{
    font-size: 30px;
    font-weight: 500;
    top: 220px;
    left: 6%;
}
.event-bot-text.event7{
    font-size: 35px;
    font-weight: 700;
    top: 260px;
    left: 6%;
}
.reservation{
    margin-top: 150px;
    text-align: center;
}
.reservation-text1{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}
.reservation-text2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    font-family: "Imprint MT Shadow";
    margin-top: -20px;
    margin-bottom: 70px;
}
.reservation-input{
    width: 60%;
    padding: 10px 15px;
    border-radius: 5px;
    border: solid #000000 1px;
    float: right;
}
.reservation-input.date{
    margin-top: 25px;
}
.reservation-input.people{
    margin-top: 25px;
}
.reservation-input.email{
    float: left;
}
.reservation-input.time{
    float: left;
    margin-top: 25px;
}
.button-reservation{
    background-color: #fcde01;
    border: none;
    float: left;
    padding: 11px 15px;
    width: 60%;
    margin-top: 25px;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer{
    margin-top: 100px;
    background-image: url(./images/footer.png);
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: repeat;
}
.logo-footer{
    padding-top: 80px;
}
.img-footer{
    width: 4%;
}
.logo-footer-text{
    color: #fcde01;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: -3.5%;
    margin-left: 50px;
}
.footer-text{
    color: #ffffff;
    margin-top: 20px;
    font-size: 18px;
}
.footer-right{
    text-align: center;
    margin-top: 30px;
}
.fa.fa-map-marker{
    color: #fcde01;
    font-size: 35px;
    margin-left: -35%;
    margin-top: 5px;
}
.fa.fa-envelope{
    color: #fcde01;
    font-size: 25px;
    margin-left: -35%;
    margin-top: 15px;
}
.footer-right-text1{
    color: #ffffff;
    font-weight: 500;
    margin-top: -30px;
    margin-left: 30%;
}
.footer-right-text2{
    color: #ffffff;
    font-weight: 500;
    margin-top: -30px;
    margin-left: 16%;
}
.small{
    color: #ffffff;
    margin-top: 150px;
    padding-bottom: 100px;
}
.icon-footer{
    background: #ffffff;
    border-radius: 50%;
    font-size: 20px !important;
}
.icon-footer.insta{
    padding: 5px 6px;
}
.icon-footer.face{
    padding: 5px 9px;
}
.icon-footer.twitter{
    padding: 5px 5px;
}
.icon-footer.phone{
    padding: 5px 7px;
}
.icon-footer-item{
    margin-top: 150px;
    float: right;
}
@media only screen and (max-width: 576px) { 
    .img-logo{
        margin-left: -20px;
    }
    .logo-text{
        margin-left: 25px;
    }
    .navbar-toggler{
        margin-left: -20px;
    }
    .collapse ul{
        position: relative;
        margin-top: 0;
        top: 0px;
    }
    .item{
        margin-left: 0;
        position: relative;
        margin-top: 120px;
        margin-bottom: -85px;
    }
    .item-text{
        position: relative;
        margin-left: 0;
        left: 0%;
    }
    .item-number{
        left: 0%;
        margin-left: 0;
    }
    .iphone{
        width: 35px;
        margin-top: -5px;
        position: relative;
    }
    .img-header{
        display: none;
    }
    .banner-text1{
        font-size: 40px;
    }
    .banner-text2{
        font-size: 40px;
    }
    .banner-text3{
        font-size: 20px;
        margin: 0;
    }
    .banner-text-item{
        margin-left: -30%;
    }
    .banner-text4{
        font-size: 15px;
    }
    .banner-text5{
        margin-top: -33px;
        font-size: 45px;
        margin-left: 0;
    }
    .banner-text6{
        font-size: 20px;
    }
    .banner-text7{
        font-size: 15px;
    }
    .choose-text-item{
        font-size: 15px;
    }
    .background{
        display: none;
    }
    .chooseimg{
        width: 60%;
    }
    .event-text{
        font-size: 15px;
    }
    .Spaghetti{
        display: none;
    }
    .spagetti{
        width: 50%;
        margin-left: 25%;
        margin-top: -50px;
        margin-bottom: 40px;
    }
    .button-order{
        margin-bottom: 50px;
    }
    .imgbot1{
        margin-bottom: 50px;
    }
    .event-bot-text.event1{
        font-size: 15px;
        top: 15px;
        left: 6%;
    }
    .event-bot-text.event2{
        font-size: 20px;
        top: 45px;
        left: 6%;
    }
    .event-bot-text.event3{
        font-size: 15px;
        top: 5px;
    }
    .event-bot-text.event4{
        font-size: 20px;
        top: 30px;
    }
    .event-bot-text.event5{
        font-size: 20px;
        top: 60px;
    }
    .event-bot-text.event6{
        font-size: 15px;
        top: 58%;
    }
    .event-bot-text.event7{
        font-size: 20px;
        top: 65%;
    }
    .reservation-input{
        float: none;
        width: 100%;
    }
    .reservation-input.email{
        float: none;
        margin-top: 25px;
    }
    .reservation-input.time{
        float: none;
    }
    .button-reservation{
        float: none;
        width: 100%;
    }
    .img-footer{
        width: 35px;
    }
    .logo-footer-text{
        margin-top: -35px;
    }
    .footer-right{
        text-align: left;
        margin-top: 30px;
    }
    .fa.fa-map-marker{
        margin-left: -0%;
    }
    .fa.fa-envelope{
        margin-left: 0;
    }
    .footer-right-text1{
        margin-left: 13%;
    }
    .footer-right-text2{
        margin-left: 13%;
    }
    .small{
        margin-top: 50px;
        padding-bottom: 0;
    }
    .icon-footer-item{
        margin-top: 0px;
        float: none;
        padding-bottom: 50px;
    }
    .slick-dots li button{
        width: 10px !important;
        height: 10px !important;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){ 
    .collapse ul{
        position: relative;
        margin-top: 0;
        top: 0px;
    }
    .item{
        margin-left: 0;
        /* margin-left: 44%; */
        position: relative;
        margin-top: 120px;
        margin-bottom: -85px;
    }
    .item-text{
        position: relative;
        margin-left: 0;
        left: 0%;
    }
    .item-number{
        left: 0%;
        margin-left: 0;
    }
    .iphone{
        width: 35px;
        margin-top: -5px;
        position: relative;
    }
    .img-header.Leaf1top{
        top: 230px;
        left: 15%;
    }
    .img-header.Pasta{
        top: 230px;
        left: 85%;
    }
    .img-header.Tomato1{
        top: 680px;
        left: 15%;
    }
    .img-header.Leafbot{
        top: 680px;
        left: 85%;
    }
    .spagetti{
        width: 40%;
        margin-left: 30%;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .background{
        display: none;
    }
    .button-order{
        margin-bottom: 50px;
    }
    .imgbot1{
        margin-bottom: 50px;
    }
    .reservation-input{
        float: none;
    }
    .reservation-input.email{
        float: none;
        margin-top: 25px;
    }
    .reservation-input.time{
        float: none;
    }
    .button-reservation{
        float: none;
    }
    .img-footer{
        width: 7%;
    }
    .logo-footer-text{
        margin-top: -7%;
    }
    .footer-right{
        text-align: left;
        margin-top: 30px;
    }
    .fa.fa-map-marker{
        margin-left: -0%;
    }
    .fa.fa-envelope{
        margin-left: 0;
    }
    .footer-right-text1{
        margin-left: 10%;
    }
    .footer-right-text2{
        margin-left: 10%;
    }
    .small{
        margin-top: 50px;
        padding-bottom: 0;
    }
    .icon-footer-item{
        margin-top: 0px;
        float: none;
        padding-bottom: 50px;
    }
    .slick-dots li button{
        width: 15px !important;
        height: 15px !important;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px) { 
    .collapse ul{
        position: relative;
        margin-top: 0;
        top: 0px;
    }
    .item{
        margin-left: 0;
        position: relative;
        margin-top: 120px;
        margin-bottom: -85px;
    }
    .item-text{
        position: relative;
        margin-left: 0;
        left: 0%;
    }
    .item-number{
        left: 0%;
        margin-left: 0;
    }
    .iphone{
        width: 35px;
        margin-top: -5px;
        position: relative;
    }
    .spagetti{
        width: 40%;
        margin-left: 30%;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .img-header.Leaf1top{
        top: 215px;
        left: 22%;
    }
    .img-header.Pasta{
        top: 200px;
        left: 75%;
    }
    .img-header.Tomato1{
        top: 650px;
        left: 22%;
    }
    .img-header.Leafbot{
        top: 630px;
        left: 75%;
    }
    .chooseimg{
        width: 200px;
    }
    .background{
        height: 90px;
        margin-top: -320px;
    }
    .choose-order-text{
        font-size: 14px;
    }
    .chooseimg.center{
        margin-top: 10px;
    }
    .imgbot3{
        margin-top: 18px;
    }
    .event-bot-text.event1{
        font-size: 20px;
        top: 15px;
    }
    .event-bot-text.event2{
        font-size: 25px;
        top: 45px;
    }
    .event-bot-text.event3{
        font-size: 20px;
        top: 0px;
    }
    .event-bot-text.event4{
        font-size: 25px;
        top: 25px;
    }
    .event-bot-text.event5{
        font-size: 25px;
        top: 55px;
    }
    .event-bot-text.event6{
        font-size: 20px;
        top: 130px;
    }
    .event-bot-text.event7{
        font-size: 25px;
        top: 155px;
    }
    .fa.fa-map-marker {
        margin-left: -45%;
    }
    .fa.fa-envelope{
        margin-left: -45%;
    }
    .footer-right-text2{
        margin-left: 27%;
    }
    .small{
        margin-top: 80px;
        padding-bottom: 60px;
    }
    .icon-footer-item{
        margin-top: 80px;
    }
    .img-footer{
        width: 7%;
    }
    .logo-footer-text{
        margin-top: -5.5%;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .img-footer{
        width: 5%;
    }
    .logo-footer-text{
        margin-top: -4%;
    }
}